:root {
    --text-color: black;
    --link-color: blue;
    --background-color: white;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins" sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

/* nav section */

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    height: 80px;
    align-items: center;
}

nav .left a {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;

}

nav .right a {
    color: var(--text-color);
    margin: 0 15px;
}

nav .right a span {
    margin-left: 8px;
}
/* Hero Section */

.hero-section{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin: 50px 0;
    gap: 50px;
    align-items: center;
    margin-bottom: 100px;
}

.hero-section .hero-text{
    flex: 5;
}

.hero-section .hero-text h2{
    font-size: 35px;
    font-weight: bold;
}

.hero-section .hero-text .links a{
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    margin-right: 5px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    
}

.hero-section .hero-text .links a:hover{
    color: var(--text-color);
    border-color: brown;
}

.hero-section .hero-image{
    flex: 2;
    justify-content: right;
    display: flex;
}

.hero-section .hero-image img{
    border-radius: 60%;
    width: 450px;
}